<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav">
      <ul class="nav_ul">
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
    <h1>Dashboard</h1>
    <div class="single_page single_page_gap">
      <form
        id="hidden_form2"
        class="form"
        method="post"
        action="/users/secrets"
      >
        <label>Secrets</label><br />
        <input type="text" id="secret" name="secret" />
        <button class="btn form_btn" type="submit">Submit</button>
      </form>
      <h2>Your Secrets are safe with us ...</h2>
      <br />

      <% if (secrets != undefined) { %> <% secrets.forEach(function(secret){ %>
      <p><strong><%= secret %></strong></p>
      <% }) %> <% } %>
      <br />
    </div>
  </body>
</html>
