<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
    <header>
      <h1>Dashboard</h1>
    </header>
  </body>
</html>
