<!DOCTYPE html>
<html>
  <head></head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav">
      <ul class="nav_ul" >
        <li><a href="/">Homepage</a></li>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </nav>
    <div class="centerdiv">
      <h1>Secrets App</h1>
      <p class="centerp">This is your personal app where you can store Secrets which we will safeguard with our life</p>
    </div>
  </body>
</html>
