<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <script>
      function myFunction(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
          x.style.display = "flex";
        } else {
          x.style.display = "none";
        }
      }
    </script>
    <nav class="nav">
      <ul class="nav_ul">
        <li><a href="/">Homepage</a></li>
        <li><a href="/auth/register">Register</a></li>
      </ul>
    </nav>
    <div class="single_page single_page_gap">
      <h1>Login using ...</h1>
      <div class="login_forms">
        <!-- <div class="form">
          <h2 class="btn btn_ex" onclick="myFunction('hidden_form1')">
            Basic Login
          </h2>
          <form
            id="hidden_form1"
            class="hidden_form"
            method="post"
            action="/auth/normallogin"
          >
            <label for="fname">Email</label><br />
            <input type="email" id="username" name="username" /><br />
            <label for="lname">Password</label><br />
            <input type="password" id="password" name="password" />
            <button class="btn" type="submit">Submit</button>
          </form>
        </div> -->
        <div class="form">
          <h2 class="btn btn_ex" onclick="myFunction('hidden_form2')">
            Passport Local Login
          </h2>
          <form
            id="hidden_form2"
            class="hidden_form"
            method="post"
            action="/auth/pllogin"
          >
            <label for="fname">Email</label><br />
            <input type="email" id="username" name="username" /><br />
            <label for="lname">Password</label><br />
            <input type="password" id="password" name="password" />
            <button class="btn form_btn" type="submit">Submit</button>
          </form>
        </div>
        <div class="form">
          <a class="btn gbtn" role="button" href="/auth/google"
            ><i class="fa fa-google" style="font-size: 48px"></i
          ></a>
        </div>
        <div class="form">
          <a class="btn fbtn" role="button" href="/auth/facebook"
            ><i class="fa fa-facebook" style="font-size: 48px"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
